:root {
  --color-brand: rgb(226, 191, 45);
  --color-brand_contrast: rgb(17, 17, 17);
  --color-brand-light: rgb(241, 223, 150);
  --color-brand-light_contrast: rgb(17, 17, 17);
  --color-brand-dark: rgb(127, 108, 32);
  --color-brand-dark_contrast: rgb(255, 255, 255);
}
